%main.container
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
  - if @order && @order.errors.any?
    - @order.errors.full_messages.each do |message|
      %li= message
  .hidden-xs.hidden-sm.res-mb-100
    .row
      .col-md-5
        %h3.general-subtitle Shipping Address
        %p.general-info-text all fields are required
      .col-md-5.col-md-offset-1
        %h3.general-subtitle Billing Address
        %p.form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input.test-class{type: "checkbox", hidden: "true", name: 'billing'}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
  = form_for @order, url: wizard_path, method: :put,  html: { :onsubmit => "handleBillingAddress(event)" } do |f|
    = fields_for :shipping_address_attributes, f.object.shipping_address do |ship_f|
      .row
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle Shipping Address
            %p.general-info-text all fields are required
          .form-group
            = ship_f.label :address_line, class: 'control-label input-label'
            = ship_f.text_field :address_line, class: 'form-control'
          .form-group
            = ship_f.label :country, class: 'control-label input-label'
            = ship_f.text_field :country, class: 'form-control'
          .form-group
            = ship_f.label :city, class: 'control-label input-label'
            = ship_f.text_field :city, class: 'form-control'
          .form-group
            = ship_f.label :zip, class: 'control-label input-label'
            = ship_f.text_field :zip, class: 'form-control'
          .form-group
            = ship_f.label :phone, class: 'control-label input-label'
            = ship_f.text_field :phone, class: 'form-control'
        .col-md-5.col-md-offset-1.mb-60.billing-section
          .visible-xs.visible-sm
            %h3.general-subtitle Billing Address
          = fields_for :billing_address_attributes, f.object.billing_address do |bill_f|
            .form-group
              = bill_f.label :address_line, class: 'control-label input-label'
              = bill_f.text_field :address_line, class: 'form-control'
            .form-group
              = bill_f.label :country, class: 'control-label input-label'
              = bill_f.text_field :country, class: 'form-control'
            .form-group
              = bill_f.label :city, class: 'control-label input-label'
              = bill_f.text_field :city, class: 'form-control'
            .form-group
              = bill_f.label :zip, class: 'control-label input-label'
              = bill_f.text_field :zip, class: 'form-control'
            .form-group
              = bill_f.label :phone, class: 'control-label input-label'
              = bill_f.text_field :phone, class: 'form-control'
      .general-text-align.mb-60
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table
          %tr
            %td
              %p.font-16 Item Total:
            %td
              %p.font-16= @cart_details.subtotal
          %tr
            %td
              %p.font-16 Order Total:
            %td
              %p.font-16= @cart_details.total
        = f.submit :'Save and continue', class: 'btn btn-default center-block mb-20 submit-address'

-# Billing address handling
:javascript
  function hideBillingAddress() {
    let billingSection = document.querySelector('.billing-section');
    let billingCheckbox = document.querySelector("input[name=billing]")

    billingCheckbox.addEventListener('click', (e) => {

      billingSection.classList.contains('hidden') ? billingSection.classList.remove('hidden') : billingSection.classList.add('hidden')
    })
  }

  hideBillingAddress();

  function handleBillingAddress(e) {
    let billingCheckbox = document.querySelector("input[name=billing]")

    if (billingCheckbox.checked) {
      document.getElementById('billing_address_attributes_address_line').value = document.getElementById('shipping_address_attributes_address_line').value
      document.getElementById('billing_address_attributes_country').value = document.getElementById('shipping_address_attributes_country').value
      document.getElementById('billing_address_attributes_city').value = document.getElementById('shipping_address_attributes_city').value
      document.getElementById('billing_address_attributes_zip').value = document.getElementById('shipping_address_attributes_zip').value
      document.getElementById('billing_address_attributes_phone').value = document.getElementById('shipping_address_attributes_phone').value
    }


  }

