%main.container.general-main-wrap
  = render :partial => "checkout_steps", :formats => [:html]
  - if @order && @order.errors.any?
    - @order.errors.full_messages.each do |message|
      %li= message
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle Shipping Address
      %p.general-address
        = "#{@order.customer.first_name} #{@order.customer.last_name}"
        = link_to('edit', wizard_path(:address), class: 'general-edit')
        %br
        = @order.shipping_address.address_line
        %br
        = "#{@order.shipping_address.city} #{@order.shipping_address.zip}"
        %br
        = @order.shipping_address.country
        %br
        = @order.shipping_address.phone
    .col-sm-3
      %h3.general-subtitle Billing Address
      %p.general-address
        = "#{@order.customer.first_name} #{@order.customer.last_name}"
        = link_to('edit', wizard_path(:address), class: 'general-edit')
        %br
        = @order.billing_address.address_line
        %br
        = "#{@order.billing_address.city} #{@order.billing_address.zip}"
        %br
        = @order.billing_address.country
        %br
        = @order.billing_address.phone
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        = @order.delivery.name
        = link_to('edit', wizard_path(:delivery), class: 'general-edit')
        %br
        = "#{@order.delivery.days} days"
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        = mask(@order.payment.card_number)
        = link_to('edit', wizard_path(:payment), class: 'general-edit')
        %br
        = @order.payment.cvv
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        - @order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left{src: item.book.cover_url, alt: item.book.title}
            %td
              %p.title= item.book.title
              %p.in-grey-600.fw-300= "#{item.book.description[0..200]}... "
            %td
              %span.font-16.in-gold-500= Money.new(item.book.price).format
            %td
              %span.ml-30= item.quantity
            %td
              %span.font-16.in-gold-500= Money.new(item.book.price*item.quantity).format

  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      %tr
        %td
          %p.font-16 Subtotal:
        %td
          %p.font-16= @cart_details.subtotal
      %tr
        %td
          %p.font-16 Delivery:
        %td
          %p.font-16= Money.new(@order.delivery.price).format
      %tr
        %td
          %p.font-16 Coupon:
        %td
          %p.font-16= @order.coupon.nil? ? Money.new(0).format : Money.new(@order.coupon.discount).format
      %tr
        %td
          %strong.font-18 Order Total:
        %td
          %strong.font-18= Money.new(@order.total_price).format
        .text-center
  = link_to('Place Order', wizard_path, method: :put, class: 'btn btn-default center-block mb-20 check-center')


