- if book
  .col-xs-6.col-sm-3
    .general-thumb-wrap
      .thumbnail.general-thumbnail
        %img.img-shadow.general-thumbnail-img{src: book.cover_url, alt: book.title}
        .thumb-hover
          .general-thumb-link-wrap
            %a.thumb-hover-link.show-book{href: "/books/#{book.id}"}
              %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
              = link_to((fa_icon 'shopping-cart', class: 'thumb-icon'), add_to_cart_path(id: book.id, quantity: 1), method: 'post', class: 'thumb-hover-link add-to-cart')
    .general-thumb-info
      %p.title= book.title
      %p.font-16.in-gold-500= Money.new(book.price, 'USD').format
      %span.divider-sm
      %p.lead.small= "#{book.author.first_name} #{book.author.last_name}"

