%main.container
  %ul
  - flash.each do |_type, message|
    -if message.is_a?(Array)
      -message.each do |m|
        %li.mb-20= m
    -else
      %li.mb-20= message

  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      = dropdown_with_links
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "/books"}
          All
          %span.badge.general-badge= @all_books
      - @popular_categories.each do |category|
        %li.mr-35.filter-link
          = link_to(category.title, category_path(category), method: :get, class: 'filter-link')
          %span.badge.general-badge= category.books.count

  - paginate(@books)
    - @books.in_groups_of(4) do |group|
    .row
    = render partial: 'books/books_collection', collection: group, as: :book

  .text-center.mb-20
    - unless @books.last_page?
      = link_to_next_page(@books, t('.view_more'), class: 'btn btn-primary view-more')

