%main.container.general-main-wrap
  %ul
  - flash.each do |_type, message|
    -if message.is_a?(Array)
      -message.each do |m|
        %li.mb-20= m
    -else
      %li.mb-20= message

  %h1.general-title-margin= t('.cart')
  - if @cart.size <= 0
    %p= t('.empty_card')
  -else
    .hidden-xs
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600= t('.product')
          %th.col-title
          %th.col-price
            %span.in-grey-600= t('.price')
          %th.col-quantity
            %span.in-grey-600= t('.quantity')
          %th.col-total
            %span.in-grey-600= t('.subtotal')
          %th.col-close
        - @cart.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left{src: item[:url], alt: item[:title]}
            %td
              %p.title= item[:title]
            %td
              %span.font-16.in-gold-500= Money.new(item[:price], 'USD').format
            %td
              .input-group
                -if item[:quantity] > 1
                  = link_to((fa_icon('minus', class: 'line-height-40')), cart_decrease_quantity_path(book_id: item[:book_id]), class: 'input-link decrease')
                -else
                  %i.fa.fa-minus.line-height-40.input-link
                %input.form-control.quantity-input{type: "text", value: item[:quantity], readonly: true}
                = link_to((fa_icon('plus', class: 'line-height-40')), cart_increase_quantity_path(book_id: item[:book_id]), class: 'input-link increase')
            %td
              %span.font-16.in-gold-500= Money.new(item[:price].to_i*item[:quantity].to_i, 'USD').format
            %td
              = link_to('&times;'.html_safe, cart_remove_item_path(id: item[:book_id]), class: 'close general-cart-close')

  .general-order-wrap
    .row
      .col-sm-4
        -if @cart_details.raw_coupon == 0
          %form.input-group.general-input-group{action: cart_apply_coupon_path, method: 'post'}
            %label.input-label= t('.enter_coupon')
            %input.form-control.coupon-input.mb-30{type: "text", placeholder: t('.enter_coupon'), name: 'coupon'}
            %div
              %button.btn.btn-primary.mr-5.mb-15{type: 'submit'}= t('.apply_coupon')

      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18= t('order.order_summary')
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16= t('order.subtotal')
              %td
                %p.font-16= @cart_details.subtotal
            %tr
              %td
                %p.font-16= t('order.coupon')
              %td
                %p.font-16
                  = @cart_details.discount
            %tr
              %td
                %strong.font-18= t('order.order_total')
              %td
                %strong.font-18= @cart_details.total
          %button.btn.btn-default.mb-20.visible-xs-inline-block Checkout
  = link_to(t('.checkout'), create_order_path, class: checkout_style(@cart))
